<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <swiper-container>
          <swiper-slide>
            <ion-chip
              color="primary"
              class="category"
              *ngFor="let category of categories"
              (click)="onGetCategoryData(category)"
            >
              <ion-label>{{category}}</ion-label>
            </ion-chip>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-articles [news]="news"></app-articles>
</ion-content>
