<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="chevron-back-outline"
        ></ion-icon>
        <ion-label color="primary">Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>source</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-articles [news]="news"></app-articles>
</ion-content>
